* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
}

body {
  background-color: #ebe6f8;
}

header {
  background-image: url(../images/fondo-nutricion.jpg);
}

footer {
  height: 17vh;
  padding-top: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  background-image: radial-gradient(ellipse 700px 80px, #30cfd0 0%, #1e0867 100%);
  box-shadow: 0 2px 2px 5px rgb(17, 0, 58);
}
footer .redes {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
footer .redes a {
  font-size: 1.4rem;
  transition: transform 1s;
}
footer .redes a:hover {
  transform: scale(1.4, 1.4);
}
footer .redes .red--instagram {
  color: white;
  border-radius: 50%;
  padding: 1px 8px 2px 6px;
}
footer .redes .red--whatsapp {
  color: white;
  border-radius: 50%;
  padding: 1px 8px 3px 7px;
}
footer .redes .red--twitter {
  color: white;
  border-radius: 50%;
  padding: 1px 8px 3px 7px;
}

.container-fluid {
  display: flex;
  flex-direction: row-reverse;
}
.container-fluid .navbar-toggler {
  color: rgb(10, 10, 10);
  background-color: rgb(4, 152, 163);
}
.container-fluid .logo_nav {
  border-radius: 20%;
}
.container-fluid .logo_nav img {
  height: 180px;
  border-radius: 20%;
  transition: transform 1.5s;
}
.container-fluid .logo_nav img:hover {
  transform: scale(1.1, 1.1);
}
.container-fluid .collapse {
  justify-content: flex-end;
}

.navbar-nav {
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  justify-content: end;
}
.nav-item a {
  padding: 8px;
  color: rgb(4, 152, 163);
  letter-spacing: 1px;
  border-radius: 30%;
  background-color: black;
  margin-top: 5px;
  text-align: center;
  transition: transform 1s;
}
.nav-item a:hover {
  color: aliceblue;
  transform: scale(1.3, 1.3);
}

.section_main {
  display: flex;
  flex-direction: column;
}
.section_main div {
  display: flex;
  justify-content: center;
}
.section_main div img {
  height: auto;
  width: 90%;
  align-items: center;
  border-radius: 20%;
}
.section_main p {
  text-align: center;
  margin: 1.5rem 0;
}

.main_galeria {
  height: 60vh;
}
.main_galeria .section_galeria {
  display: flex;
  justify-content: center;
}
.main_galeria .section_galeria img {
  width: 100%;
  height: 18rem;
}

.carousel {
  width: 35rem;
  margin: 2rem;
}

.centrar_texto {
  text-align: center;
  margin: 1.5rem 0;
  text-shadow: -2.4px 0 rgb(85, 83, 83);
  letter-spacing: 1px;
}

.col-md-4 {
  text-align: center;
}
.col-md-4 img {
  height: 90%;
  width: 90%;
}

.section_recetas {
  margin: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.section_recetas .div_imagen_recetas {
  width: 100%;
  text-align: center;
}
.section_recetas .div_imagen_recetas img {
  height: 16rem;
  width: 80%;
}

.contenedor_de_imagen {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.contenedor_de_imagen img {
  height: 18rem;
  width: 95%;
  text-align: center;
}

.formulario {
  color: rgb(82, 252, 252);
  display: flex;
  letter-spacing: 1.2px;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0 2rem 0;
  background-image: linear-gradient(to top, #30cfd0 0%, #1e0867 80%);
}
.formulario .item_formulario {
  display: flex;
  justify-content: space-around;
}

.label_consulta {
  padding: 0 2rem;
}

textarea {
  margin: 0 1.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  width: 2rem;
  padding: 0 4rem;
  align-self: center;
  box-shadow: 2px 0 2px 3px rgb(25, 21, 101);
  transition: background-color 2s;
}
.btn:hover {
  color: black;
  outline-offset: 3px;
  background-color: blue;
}

@media screen and (max-width: 470px) {
  .carousel {
    margin: 2rem 0;
  }
}
@media screen and (min-width: 470px) {
  .div_imagen_recetas img {
    height: 18rem;
    width: 80%;
  }
  .section_recetas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .section_recetas .div_imagen_recetas {
    width: 100%;
  }
  .section_recetas .div_imagen_recetas img {
    height: 18rem;
    width: 80%;
  }
  .contenedor_de_imagen img {
    height: 20rem;
    width: 80%;
    text-align: center;
  }
  .item_formulario {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
  }
}
@media screen and (min-width: 576px) {
  .section_recetas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .section_recetas .div_imagen_recetas {
    width: 90%;
  }
  .section_recetas .div_imagen_recetas img {
    height: 21rem;
    width: 80%;
  }
  .row {
    margin: 2rem;
  }
  .row img {
    height: 12rem;
    width: 12rem;
  }
  textarea {
    width: 85%;
    align-self: center;
  }
  footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  .img_inicio {
    height: auto;
    width: 70%;
    align-items: center;
  }
  .section_recetas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .section_recetas .div_imagen_recetas {
    width: 40%;
  }
  .section_recetas .div_imagen_recetas img {
    height: 14rem;
    width: 80%;
  }
  .carousel img {
    width: 100%;
    height: 18rem;
  }
  .contenedor_de_imagen img {
    height: 21rem;
    width: 70%;
  }
  .label_consulta {
    padding-left: 0;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .container-fluid {
    display: flex;
    flex-direction: row;
  }
  .container-fluid .navbar-nav {
    margin-right: 2rem;
  }
  .container-fluid .navbar-nav .nav-item {
    margin-left: 1.3rem;
  }
  .container-fluid .navbar-nav .nav-item a {
    color: rgb(4, 152, 163);
    background-color: black;
  }
  .container-fluid .navbar-nav .nav-item a:hover {
    color: aliceblue;
  }
  .section_recetas {
    display: flex;
  }
  .section_recetas .div_imagen_recetas {
    width: 30%;
  }
  .section_main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .section_main div {
    height: auto;
    width: 50%;
  }
  .section_main div img {
    width: 80%;
  }
  .section_main p {
    display: flex;
    align-items: center;
    width: 35%;
    margin: 1.5rem 0;
  }
  footer {
    height: 17vh;
    font-size: 1.2rem;
  }
  footer .redes {
    gap: 1.8rem;
  }
  footer .redes a {
    font-size: 1.7rem;
  }
  .container img {
    height: 15rem;
    width: 15rem;
  }
  .section_contacto {
    display: flex;
    justify-content: space-evenly;
  }
  .section_contacto .contenedor_de_imagen {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .section_contacto .contenedor_de_imagen img {
    height: 90%;
  }
  .section_contacto .formulario {
    width: 45%;
    border-radius: 5%;
    gap: 2rem;
  }
}
@media screen and (min-width: 1220px) {
  .section_recetas .div_imagen_recetas {
    width: 25%;
  }
  .main_inicio img {
    height: 48rem;
    width: 35rem;
  }
  .carousel img {
    width: 100%;
    height: 19rem;
  }
}
@media screen and (min-width: 1400px) {
  .carousel img {
    width: 100%;
    height: 22rem;
  }
  .section_contacto .formulario {
    gap: 2.7rem;
  }
}
.red--twitter {
  background-image: linear-gradient(to top, rgb(6, 19, 195) 0%, rgb(18, 67, 228) 100%);
}

.red--instagram {
  background-image: linear-gradient(to top, orange 0%, red 40%, rgb(244, 40, 217) 100%);
}

.red--whatsapp {
  background-image: linear-gradient(to top, rgb(3, 171, 11) 0%, rgb(2, 239, 109) 100%);
}

.red--twitter:hover {
  box-shadow: 0 0 15px rgb(2, 2, 191);
}

.red--instagram:hover {
  box-shadow: 0 0 15px rgb(255, 117, 42);
}

.red--whatsapp:hover {
  box-shadow: 0 0 15px rgb(5, 255, 5);
}

/*# sourceMappingURL=styles.css.map */
