.main_galeria{
    height: 60vh;
    padding-bottom: 5rem;

    .section_galeria{
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
        
        img{
            width: 100%;
            height: 16rem;
        }

        
    }
    
}
.carousel{
    width: 35rem;
    margin: 2rem;
    
    

}