.col-md-4{
    text-align: center;

    img{
        height: 90%;
        width: 90%;
        padding: 1.3rem 0;
        opacity: 0.8;

        &:hover{
            opacity: 1;
            zoom: 1.01;
        }
    }
}