*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
body{
    background-image: linear-gradient(to right,white 0%,rgb(129, 207, 255) 100%);
}
main{
    padding-bottom: 1rem;
}
