

        
        .container-fluid{
            display: flex;
            flex-direction: row-reverse;
            
            .navbar-toggler{
                color: rgb(10, 10, 10);
                background-color: $primario;
            }
            .logo_nav{
                border-radius: 20%;
                img{
                    height: 180px;
                    border-radius: 20%;
                }
            }
            .collapse{
            justify-content: flex-end;
            }
        }
        
        .navbar-nav{
            margin-right: 2rem;
            }
            .navbar a{
                color: $primario;
                background-color: black;
            }
            .nav-item{
                display: flex;
                justify-content: end;
                a{
                    padding: 8px;
                    border-radius: 30%;
                    margin-top: 5px;
                    text-align: center;
                    &:hover{
                        color: aliceblue;
                    }
                }
                
            }
            
            
            